 body{

<<<<<<< HEAD
background: rgb(228, 228, 241);
=======
background : rgb(228, 228, 241);
>>>>>>> fffb5801c22ee14946b601bb9849f2d4b3a105c6
height: 100%;
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
overflow-x: hidden;

    
 }

 .container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   

 }


 h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
<<<<<<< HEAD
    color: rgb(72, 72, 235);
=======
    color:rgb(72, 72, 235);
>>>>>>> fffb5801c22ee14946b601bb9849f2d4b3a105c6
   
 }


 @media(max-width: 770px){
  .container {
   margin : 0 10%;

  }

 }

 @media (min-width: 1048px){
  h1 {

    font-size: 90px;
  }


 }
